<main class="container my-5">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-12">
                <div class="card mb-3 text-bg-dark">
                    <div class="card-body">
                        <form id="update-user-form" method="POST" data-user-id="{{profileInfo._id}}">
                            <div class="row form-group mb-4">
                                <div class="d-flex justify-content-center" style="cursor: pointer;">
                                    <input
                                        id="profile-image-input"
                                        type="file"
                                        accept=".png, .jpeg, .jpg"
                                        name="profile_image"
                                        placeholder="Upload Profile Photo"
                                        class="form-control visually-hidden"
                                    />
                                    <label for="profile-image-input" class="justify-content-center">
                                        {{#if profileInfo.profile_image}}
                                            <img
                                                src="{{profileInfo.profile_image}}"
                                                alt="{{profileInfo.first_name}}"
                                                class="rounded-circle mx-auto d-block"
                                                width="96"
                                                height="96"
                                            />
                                        {{else}}
                                            {{! <svg xmlns="http://www.w3.org/2000/svg" width="100" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#003c8a" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/></svg> }}
                                            {{! <i class="fa-solid fa-user" style="color: #003c8a; font-size:75"></i> }}
                                            <i class="fa-solid fa-user-pen" style="color: #003c8a; font-size:75"></i>
                                        {{/if}}
                                        <div>Update Profile Photo</div>
                                    </label>
                                </div>

                            </div>

                            <div class="row form-group">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">First Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">

                                    <input
                                        class="form-control"
                                        type="text"
                                        name="first_name"
                                        value="{{profileInfo.first_name}}"
                                    />
                                </div>
                            </div>
                            <hr />
                            <div class="row form-group">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Last Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="last_name"
                                        value="{{profileInfo.last_name}}"
                                    />
                                </div>
                            </div>
                            <hr />
                            <div class="row form-group">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Summary</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">

                                    <input
                                        class="form-control"
                                        type="text"
                                        name="summary"
                                        value="{{profileInfo.summary}}"
                                    />
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input
                                        class="form-control"
                                        type="email"
                                        name="email"
                                        value="{{profileInfo.email}}"
                                    />
                                </div>
                            </div>
                            <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Education</h6>
                                    </div>
                                    <div id="education-div" class="col-sm-9 text-secondary"></div>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-success btn-sm" type="button" data-action="add-education"><i class="fa-solid fa-plus fa-sm me-2" style="color: #ffffff;"></i>Add</button>
                                    </div>
                                    
                                </div>
                                <hr />

                            <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Experience</h6>
                                    </div>
                                    <div id="experience-div" class="col-sm-9 text-secondary"></div>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-success btn-sm" type="button" data-action="add-experience"><i class="fa-solid fa-plus fa-sm me-2" style="color: #ffffff;"></i>Add</button>
                                    </div>
                                </div>
                                <hr />
                            <div class="row form-group">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Subject Areas</h6>
                                </div>

                                <div class="col-sm-9">
                                    <ol class="list-group list-group-horizontal mb-2 flex-wrap" id="subject-areas-list">
                                        {{#each profileInfo.subject_areas}}
                                            <li
                                                class="list-group-item border-0 p-1 px-2 me-2 badge rounded-pill text-bg-info"
                                                data-subject-name="{{name}}" data-subject-id="{{_id}}" id="subject-li-{{@index}}"
                                            >{{name}}<button
                                                    class="btn-close btn-sm ms-1 remove-subject-btn"
                                                    type="button"
                                                    aria-label="close"
                                                    data-action="remove-subject"
                                                    data-subject-li="subject-li-{{@index}}"
                                                    data-subject-id="{{_id}}"
                                                    data-subject-name="{{name}}"
                                                ></button>
                                            </li>
                                        {{/each}}
                                    </ol>
                                    <div class="input-group input-group-sm mb-3">
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Add a new subject area"
                                            aria-label="Add Subject Area"
                                            aria-describedby="basic-addon2"
                                            id="new-subject-input"
                                            list="subject-area-list"
                                        />
                                        <datalist id="subject-area-list">
                                            {{#each allSubjectAreas}}
                                            <option value="{{name}}"/>
                                            {{/each}}
                                        </datalist>
                                        <button
                                            id="basic-addon2"
                                            class="input-group-text btn btn-success btn-sm add-subject-btn"
                                            type="button"
                                            data-action="add-subject"
                                        ><i class="fa-solid fa-plus fa-sm me-2" style="color: #ffffff;"></i>Add</button>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <input class="visually-hidden" name="user_type" value="{{profileInfo.userType}}" />
                            <input class="visually-hidden" name="user_id" value="{{profileInfo._id}}" />
                            <input class="visually-hidden" name="dob" value="{{profileInfo.dob}}" />
                            <div class="mt-4 form-group d-flex justify-content-center">
                                <button id="save-changes-btn" class="btn btn-primary" type="submit">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

{{!-- {{> users/edit_mentor_profile }} --}}
{{> users/edit-mentor-profile user_id=profileInfo._id}}