<main class="container my-3">
    <div class="row d-flex text-center">
        <h2>Book a sessions</h2>
    </div>
    <div class="row pt-4 gy-2">
        {{#each mentors}}
            <div class="card text-bg-dark">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="p-1">
                            <div class="mb-2">
                                <h5 class="card-title fs4-text mb-0"><a
                                        class="text-decoration-none"
                                        href="/mentor/{{this._id}}"
                                        data-bs-toggle="tooltip"
                                        data-bs-title="Click to view full profile"
                                    >{{this.name}}</a></h5>

                            </div>

                            <div class="card-text">{{summary}}</div>
                            <div class="card-text">Subject Areas:
                                {{this.subject_area}}</div>
                        </div>
                        <div class="p-1">
                            <a
                                href="/sessions/booking/book/{{this._id}}"
                                class="btn btn-primary"
                            >Book Session</a>
                        </div>
                    </div>

                </div>
            </div>
        {{/each}}
    </div>
</main>