<main class="container my-3">
    <div class="row d-flex text-center">
        <h2>My sessions</h2>
    </div>
    <div class="row pt-4 gy-2" id="sessions-list-div">
        {{#if sessions}}
            {{#each sessions}}
                <div class="card text-bg-dark">
                    <div class="card-body" id="session-card-{{this._id}}">
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="card-text"><strong>Mentor Name:</strong>
                                    {{this.mentor_name}}&nbsp;<a class="btn btn-info" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .75rem;" href="/mentor/{{this.mentor_id}}">View Profile</a></div>
                                <div class="card-text"><strong>Subject Area:</strong>
                                    {{this.subject_area}}</div>
                                <div class="card-text"><strong>From:</strong>
                                    {{#formatDateTime
                                        this.start_time
                                    }}{{/formatDateTime}}</div>
                                <div class="card-text"><strong>To: </strong>
                                    {{#formatDateTime
                                        this.end_time
                                    }}{{/formatDateTime}}</div>

                                <div class="card-link"><strong>Meeting Link:
                                    </strong>
                                    <a href="{{this.meeting_link}}">Zoom Call</a></div>
                            </div>
                            <div>

                                {{#if
                                    (happeningNow this.start_time this.end_time)
                                }}
                                    <div
                                        class="card-text fs-6 fw-lighter fst-italic"
                                    ><a
                                            class="btn btn-info"
                                            href="{{this.meeting_link}}"
                                        >Happening Now!</a>
                                    </div>
                                {{else}}
                                    {{#if (beforeNow this.end_time)}}
                                        <button
                                                class="btn btn-light review-btn"
                                                data-session-id="{{this._id}}"
                                                data-mentor-id="{{this.mentor_id}}"
                                                data-mentee-id="{{this.mentee_id}}"
                                            >Leave a review</button>
                                    {{else}}
                                        {{#if (afterNow this.start_time)}}
                                            <button
                                                class="btn btn-success reschedule-btn"
                                                data-session-id="{{this._id}}"
                                                data-mentor-id="{{this.mentor_id}}"
                                                data-mentee-id="{{this.mentee_id}}"
                                            >Reschedule</button>
                                            <button
                                                class="btn btn-danger cancel-btn"
                                                data-session-id="{{this._id}}"
                                                data-mentor-id="{{this.mentor_id}}"
                                                data-mentee-id="{{this.mentee_id}}"
                                            >Cancel</button>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}

                            </div>
                        </div>

                    </div>
                </div>
            {{/each}}
        {{else}}
            <p class="text-center fs-6 fw-lighter fst-italic">No sessions.</p>
        {{/if}}
    </div>

    <div
        class="modal fade"
        id="rescheduleModal"
        tabindex="-1"
        aria-labelledby="modal-header-label-resch"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header text-bg-dark">
                    <h1
                        class="modal-title fs-5"
                        id="modal-header-label-resch"
                    >Reschedule your session!</h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        data-bs-target="#rescheduleModal"
                    ></button>
                </div>
                <div class="modal-body text-bg-dark" id="resch-modal-body">
                    <div class="row row-cols-2 mt-4">
                        <div class="col-sm-12 col-md-4">
                            <div class="content">
                                <div class="calendar">
                                    <div
                                        id="year-header"
                                        class="d-flex bg-primary p-2 text-center justify-content-between"
                                    >
                                        <span class="" id="prev"><i
                                                class="fa-solid fa-chevron-left"
                                            ></i></span>
                                        <span class="year" id="label"></span>
                                        <span class="" id="next"><i
                                                class="fa-solid fa-chevron-right"
                                            ></i></span>
                                    </div>
                                    <table
                                        id="months-table"
                                        class="w-100 text-center my-1 bg-text-dark"
                                    >
                                        <tbody>
                                            <tr class="months-row">
                                                <td class="month">Jan</td>
                                                <td class="month">Feb</td>
                                                <td class="month">Mar</td>
                                                <td class="month">Apr</td>
                                                <td class="month">May</td>
                                                <td class="month">Jun</td>
                                                <td class="month">Jul</td>
                                                <td class="month">Aug</td>
                                                <td class="month">Sep</td>
                                                <td class="month">Oct</td>
                                                <td class="month">Nov</td>
                                                <td class="month">Dec</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table
                                        id="days-table"
                                        class="text-center my-1 w-100"
                                    ><tbody>
                                            <tr>
                                        <td class="day">Sun</td>
                                        <td class="day">Mon</td>
                                        <td class="day">Tue</td>
                                        <td class="day">Wed</td>
                                        <td class="day">Thu</td>
                                        <td class="day">Fri</td>
                                        <td class="day">Sat</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="frame">
                                        <table class="text-center my-1 w-100">
                                            <tbody class="tbody">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div id="mentor-deets" hidden>
                                <p>Name:
                                    {{mentorInfo.first_name}}
                                    {{mentorInfo.last_name}}</p>
                                <p>Summary: {{mentorInfo.summary}}</p>
                            </div>
                            <div id="availability-div">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-bg-dark">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                        data-bs-target="#rescheduleModal"
                    >Close</button>
                </div>
            </div>
        </div>
    </div>

    {{>common/review-modal}}
</main>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div
        id="alert-toast"
        class="toast text-bg-dark"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
    >
        <div class="toast-body p-2">
            <div class="d-flex flex-row justity-content-between">
                <div class="me-2"><button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="toast"
                        aria-label="Close"
                    ></button></div>
                <div>
                    <p class="mb-0" id="toast-content"></p>
                </div>
            </div>

        </div>
    </div>
</div>

{{> users/mentee-manage-sessions}}
{{>users/add-review userData=userData}}