 <main class="container my-3">
    {{#if userData}}
        <h1 class="text-center mb-5">Welcome
            {{userData.first_name}}. This is your Dashboard!</h1>
    {{/if}}

    <section id="dashboard-links" class="mb-4" hidden>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a
                    class="btn btn-primary me-3"
                    href="/profile/{{userData.userType}}/{{userData._id}}"
                >Profile</a>
                <a class="btn btn-primary">My sessions</a>
            </div>
        </div>
    </section>

    <section class="mb-4">

        <div class="row">
            <div
                id="upcoming-sessions-section"
                class="col col-sm-12 col-md-8 text-bg-dark text-light rounded p-2"
            >
            {{#if (isEqual userData.userType "mentor")}}
                {{#if (isNotEqual userData.approved "approved")}}
                    <div class="d-flex justify-content-center align-items-center align-content-center">
                        <p class="text-danger fw-bold fs-8">Your application is currently {{userData.approved}}. Please contact the administrators for more information.</p>
                    </div>
                {{else}}
                    <div class="d-flex justify-content-between mb-4">
                    <h2 class="mb-0">Upcoming sessions</h2>
                    <div class="d-flex flex-col gap-2">
                        <a
                            class="btn btn-primary mb-0"
                            href="/sessions/{{userData.userType}}/{{userData._id}}"
                        >My sessions</a>

                        {{! must only show for mentees }}
                        {{#if (isEqual userData.userType "mentee")}}
                            <a
                                class="btn btn-primary mb-0"
                                href="/sessions/booking/list"
                            >Book a session</a>
                        {{/if}}

                        {{! END must only show for mentees }}

                        {{! must only show for mentors }}
                        {{#if (isEqual userData.userType "mentor")}}
                            {{#if (isEqual userData.userType "mentor")}}
                                {{#if userData.subject_areas}}
                                    <a
                                        class="btn btn-primary mb-0"
                                        href="/{{userData.userType}}/availability/{{userData._id}}"
                                    >Manage Availability</a>
                                {{else}}

                                {{/if}}
                            {{/if}}

                        {{/if}}

                        {{! END must only show for mentors }}
                    </div>

                </div>
                <div class="row px-2 overflow-scroll">
                    <div class="col">
                        {{#if sessions}}
                            {{#each sessions}}
                                <div class="card m-2">
                                    <div
                                        class="card-body d-flex justify-content-between"
                                    >
                                        <div class="p-1">
                                            <h5 class="card-title">
                                                {{#if
                                                    (isEqual
                                                        ../userData.userType
                                                        "mentor"
                                                    )
                                                }}
                                                    {{this.mentee_name}}
                                                {{else}}
                                                    {{this.mentor_name}}
                                                {{/if}}
                                            </h5>
                                            <p class="card-text mb-0">
                                                {{this.subject_area}}
                                            </p>
                                            <p
                                                class="card-text text-muted mb-0"
                                            >
                                                <span>From:
                                                    {{#formatDateTime
                                                        this.start_time
                                                    }}{{/formatDateTime}}</span>
                                                |
                                                <span>To:
                                                    {{#formatDateTime
                                                        this.end_time
                                                    }}{{/formatDateTime}}</span>
                                            </p>
                                            <a
                                                href="{{this.meeting_link}}"
                                                class="card-link"
                                            >Zoom Link</a>
                                        </div>
                                        <div class="p-1">
                                            {{#if
                                                (isEqual
                                                    ../userData.userType "mentor"
                                                )
                                            }}
                                                <a
                                                    class="btn btn-primary"
                                                    href="/mentee/{{this.mentee_id}}"
                                                >View Full Profile</a>
                                            {{else}}
                                                <a
                                                    class="btn btn-primary"
                                                    href="/mentor/{{this.mentor_id}}"
                                                >View Full Profile</a>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        {{else}}
                            <p
                                class="pt-5 text-center fs-6 fw-lighter fst-italic"
                            >No upcoming sessions.</p>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
            {{else}}
                <div class="d-flex justify-content-between mb-4">
                    <h2 class="mb-0">Upcoming sessions</h2>
                    <div class="d-flex flex-col gap-2">
                        <a
                            class="btn btn-primary mb-0"
                            href="/sessions/{{userData.userType}}/{{userData._id}}"
                        >My sessions</a>

                        {{! must only show for mentees }}
                        {{#if (isEqual userData.userType "mentee")}}
                            <a
                                class="btn btn-primary mb-0"
                                href="/sessions/booking/list"
                            >Book a session</a>
                        {{/if}}

                        {{! END must only show for mentees }}

                        {{! must only show for mentors }}
                        {{#if (isEqual userData.userType "mentor")}}
                            {{#if (isEqual userData.userType "mentor")}}
                                {{#if userData.subject_areas}}
                                    <a
                                        class="btn btn-primary mb-0"
                                        href="/{{userData.userType}}/availability/{{userData._id}}"
                                    >Manage Availability</a>
                                {{else}}

                                {{/if}}
                            {{/if}}

                        {{/if}}

                        {{! END must only show for mentors }}
                    </div>

                </div>
                <div class="row px-2 overflow-scroll">
                    <div class="col">
                        {{#if sessions}}
                            {{#each sessions}}
                                <div class="card m-2">
                                    <div
                                        class="card-body d-flex justify-content-between"
                                    >
                                        <div class="p-1">
                                            <h5 class="card-title">
                                                {{#if
                                                    (isEqual
                                                        ../userData.userType
                                                        "mentor"
                                                    )
                                                }}
                                                    {{this.mentee_name}}
                                                {{else}}
                                                    {{this.mentor_name}}
                                                {{/if}}
                                            </h5>
                                            <p class="card-text mb-0">
                                                {{this.subject_area}}
                                            </p>
                                            <p
                                                class="card-text text-muted mb-0"
                                            >
                                                <span>From:
                                                    {{#formatDateTime
                                                        this.start_time
                                                    }}{{/formatDateTime}}</span>
                                                |
                                                <span>To:
                                                    {{#formatDateTime
                                                        this.end_time
                                                    }}{{/formatDateTime}}</span>
                                            </p>
                                            <a
                                                href="{{this.meeting_link}}"
                                                class="card-link"
                                            >Zoom Link</a>
                                        </div>
                                        <div class="p-1">
                                            {{#if
                                                (isEqual
                                                    ../userData.userType "mentor"
                                                )
                                            }}
                                                <a
                                                    class="btn btn-primary"
                                                    href="/mentee/{{this.mentee_id}}"
                                                >View Full Profile</a>
                                            {{else}}
                                                <a
                                                    class="btn btn-primary"
                                                    href="/mentor/{{this.mentor_id}}"
                                                >View Full Profile</a>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        {{else}}
                            <p
                                class="pt-5 text-center fs-6 fw-lighter fst-italic"
                            >No upcoming sessions.</p>
                        {{/if}}
                    </div>
                </div>
            {{/if}}
                
            </div>
            <div id="profile-card" class="col col-sm-12 col-md-4">
                <div class="card text-bg-dark">
                    <div class="card-body">
                        {{#if (isEqual userData.userType "mentor")}}
                            {{#if userData.subject_areas}}{{else}}
                                <p
                                    class="fw-bolder text-danger fs-6 text-center"
                                >Please complete your profile to enable all
                                    features!</p>
                            {{/if}}
                        {{/if}}
                        <div class="d-flex flex-column align-items-end mb-4">
                            <a
                                class="btn btn-primary"
                                href="/profile/{{userData.userType}}/{{userData._id}}"
                            >View Full Profile</a>
                        </div>
                        <div
                            class="d-flex flex-column align-items-center text-center"
                        >
                            {{#if userData.profile_image}}
                                <img
                                    src="{{userData.profile_image}}"
                                    alt="{{userData.first_name}}"
                                    class="rounded-circle"
                                    width="128"
                                    height="128"
                                />
                            {{else}}
                                {{! <svg xmlns="http://www.w3.org/2000/svg" width="100" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#003c8a" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/></svg> }}
                                <i
                                    class="fa-solid fa-user"
                                    style="color: #003c8a; font-size:75"
                                ></i>
                            {{/if}}
                            <div class="mt-3">
                                <h4>{{userData.first_name}}
                                    {{userData.last_name}}</h4>
                                <div
                                    class="mb-1 d-flex flex-row gutters-sm justify-content-center"
                                >
                                    {{#if userData.averageRating}}
                                        <div
                                            class="ratings-render"
                                            data-rating={{userData.averageRating}}
                                        ></div>
                                        <p
                                            class="text-secondary"
                                        >({{userData.reviews.length}})</p>
                                    {{else}}
                                        <p
                                            class="text-secondary fs-6 fw-lighter fst-italic"
                                        >0 reviews</p>
                                    {{/if}}

                                </div>
                                <p
                                    class="fw-light mb-1"
                                >{{userData.summary}}</p>

                                <div class="row">
                                    <hr />
                                    <h6 class="mb-0">Email</h6>
                                    <div class="fw-light">
                                        {{userData.email}}
                                    </div>
                                </div>

                                <div class="row" hidden>
                                    <hr />
                                    <h6 class="mb-0">Experience</h6>

                                    <div class="text-start">
                                        <ul class="list-group">
                                            {{#each userData.experience}}
                                                <li class="list-group-item">
                                                    <p class="mb-0">Title</p>
                                                    <p
                                                        class="mb-0 text-secondary"
                                                    >{{title}}</p>
                                                </li>
                                                <li class="list-group-item">
                                                    <p class="mb-0">Company</p>
                                                    <p
                                                        class="mb-0 text-secondary"
                                                    >{{institution}}</p>
                                                </li>
                                                <li class="list-group-item">
                                                    <p class="mb-0">Years of
                                                        experience</p>
                                                    <p
                                                        class="mb-0 text-secondary"
                                                    >{{years}}</p>
                                                </li>
                                            {{/each}}
                                        </ul>

                                    </div>

                                </div>

                                <div class="row" hidden>
                                    <hr />
                                    <h6 class="mb-0">Education</h6>

                                    <div class="text-start">
                                        <ul class="list-group">
                                            {{#each userData.education}}
                                                <li class="list-group-item">
                                                    <p class="mb-0">Degree</p>
                                                    <p
                                                        class="mb-0 text-secondary"
                                                    >{{degree}}</p>
                                                </li>
                                                <li class="list-group-item">
                                                    <p class="mb-0">Company</p>
                                                    <p
                                                        class="mb-0 text-secondary"
                                                    >{{institution}}</p>
                                                </li>
                                                <li class="list-group-item">
                                                    <p class="mb-0">Years of
                                                        completion</p>
                                                    <p
                                                        class="mb-0 text-secondary"
                                                    >{{year}}</p>
                                                </li>
                                            {{/each}}
                                        </ul>

                                    </div>

                                </div>

                                {{#if userData.subject_areas}}
                                    <div class="row">
                                        <hr />

                                        <h6 class="mb-0">Subject Areas</h6>
                                        <div
                                            class="mt-1"
                                        >
                                            <ol
                                                class="list-group list-group-horizontal mb-2 flex-wrap"
                                            >
                                                {{#each userData.subject_areas}}
                                                    <li
                                                        class="list-group-item border-0 p-0 me-2 bg-transparent"
                                                    >
                                                        <p
                                                            class="badge rounded-pill text-bg-info m-0"
                                                        >{{name}}</p>
                                                    </li>
                                                {{/each}}
                                            </ol>
                                        </div>

                                    </div>
                                {{/if}}

                                {{#if userData.skills}}
                                    <div class="row">
                                        <hr />

                                        <h6 class="mb-2">Skills</h6>

                                        <div
                                            class="d-flex justify-content-center"
                                        >
                                            <ol
                                                class="list-group list-group-horizontal mb-2"
                                            >
                                                {{#each userData.skills}}
                                                    <li
                                                        class="list-group-item border-0 p-0 me-2 bg-transparent"
                                                    >
                                                        <p
                                                            class="badge rounded-pill text-bg-info m-0"
                                                        >{{this}}</p>
                                                    </li>
                                                {{/each}}
                                            </ol>
                                        </div>

                                    </div>
                                {{/if}}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card mt-3 text-bg-dark p-2">
    {{#if badges.badge}}
    <h5>Badges</h5>
    <div class="d-flex flex-row">
        <div class="p-2">
            <img height="75" width="75" src="/public/img/badges/{{badges.badge.icon}}" alt="{{badges.badge.name}}">
        </div>
    </div>
{{else}}
    <p class="text-secondary text-center p-4 mb-0"><em>No badges to display</em></p>
{{/if}}
            </div>
        </div>
    </div>
    </section>

</main>

{{> common/ratings_generator}}